@font-face {
  font-family: "Filmotype Wand";
  src: url("../fonts/Filmotype\ Wand.otf");
}
@font-face {
  font-family: "Filmotype Fashion";
  src: url("../fonts/Filmotype\ Fashion.otf");
}
@font-face {
  font-family: "Filmotype Gay";
  src: url("../fonts/Filmotype\ Gay.otf");
}
@font-face {
  font-family: "Filmotype Jupiter";
  src: url("../fonts/Filmotype\ Jupiter.otf");
}

body {
  color: #000;
  background: #fdfdfd;
  height: 100%;
  overflow-x: hidden;
  font-family: "Filmotype Gay", sans-serif;
  font-size: 150%;
}

.active {
  background: #565656;
}

.btn-toggle-nav {
  position: fixed;
  right: 0;
  top: 10px;
  right: 10px;
  z-index: 100;
}

h1 {
  font-family: "Filmotype Fashion";
}

.u-visually-hidden {
  visibility: hidden;
}

#home {
  height: 100vh;
}

#office-party {
  max-width: 700px;
  margin-top: 4rem;
}

.nav-sidebar {
  position: fixed;
  background: #000;
  right: 0;
  top: 80px;
  margin-top: -400px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
  padding-top: 10px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 50px;
  list-style: none;
}

.nav-sidebar ul li span,
.nav-sidebar ul li a {
  display: block;
  height: 50px;
  padding: 0 20px;
  text-decoration: none;
  text-align: right;
  color: #fff;
  font-size: 16px;
  font-family: "Filmotype Fashion";
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li span {
  text-transform: lowercase;
  margin-left: -1rem;
}

.nav-sidebar ul li a:hover {
  background: #565656;
}

#wrapper {
  background: #000;
  display: inline-block;
  border-radius: 100px;
  margin: 5px;
  position: relative;
  padding: 15px;
  cursor: pointer;
}

.circle {
  width: 30px;
  height: 30px;
  position: relative;
}

.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
  top: 18%;
}

.middle {
  top: 48%;
}

.bottom {
  top: 78%;
}

.icon.close .top {
  transform: rotate(45deg);
  top: 48%;
}

.icon.close .middle,
.icon.close .bottom {
  transform: rotate(-45deg);
  top: 48%;
}

#social-icons {
  margin-top: 1.5rem;
  margin-left: 3rem;
  z-index: 10;
}

#social-icons a {
  color: #fdfdfd;
}

textarea {
  width: 300px;
}

/* Footer */
#main-footer {
  width: 100vw;
  background: #000;
}
#main-footer img {
  max-width: 400px;
}
/* Events Page */

#events a {
  text-decoration: none;
}
#events-header h1 {
  margin-top: 6rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

#events {
  background: #fff;
}

#events span input {
  width: 230px;
  margin-bottom: 1rem;
}

#rsvp {
  margin-top: -4rem;
}

.image-overlay {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 100%;
  text-align: center;
  background: #000;
  background-size: cover;
  color: #fff;
  display: none;
}

.image-overlay a:hover {
  background: #000;
  color: #fff;
}

/* Contact Page */
#contact-header h1 {
  margin-top: 6rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

form h5 {
  font-family: "Filmotype Jupiter";
  font-size: 2.5rem;
  margin-top: -2rem;
}

.form-input input {
  width: 200px;
  margin-bottom: 1rem;
}

.form-input textarea {
  width: 410px;
}

a {
  color: #000;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
}

#contact-section img {
  max-width: 70px;
}

#contact-section p {
  margin: 0;
  padding: 0;
}

#mobile-phones-logo {
  max-width: 100px;
  max-height: 100px;
  margin: 1rem;
}

#location-marker {
  max-width: 40px;
}

/* faq page */
#faq-header h1 {
  margin-top: 3.5rem;
  font-size: 1.2rem;
}

#faq-section p {
  margin: 0;
  padding: 0;
}

#faq-party {
  display: block;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* Mail Chimp */
#mc_embed_signup {
  color: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
}

#mc_embed_signup_scroll {
  text-align: center;
}

#mc_embed_signup_scroll input {
  max-width: 400px;
}

@media screen and (max-width: 660px) {
  #contact-header h1 {
    font-size: 2.5rem;
  }

  #first-card img {
    max-width: 40px;
  }

  #first-card p {
    font-size: 14px;
  }

  .form-input input {
    width: 300px;
  }

  .form-input textarea {
    width: 300px;
  }

  #office-party {
    max-width: 100%;
    margin-top: 7rem;
  }

  #main-footer img {
    max-width: 300px;
  }

  #mobile-phones-logo {
    margin: 0.5rem;
  }
}

/* Landscape */
@media only screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
