#mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything

RewriteCond %{REQUEST_FILENAME} ! -d

# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the desired page. Find the page in the directory and then add .html

RewriteRule ^(.*)$ $1.html [NC,L]